@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hilangkan scrollbar hanya secara visual */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}

